#                      WEB SCRAPING – ASSIGNMENT 2

In [15]:
import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings 
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome('chromedriver.exe')

C:\Users\ANSHUL~1\AppData\Local\Temp/ipykernel_38612/530843676.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
1. First get the webpage https://www.naukri.com/

In [18]:
url='https://www.naukri.com/'
driver.get(url)

2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

In [19]:
#Entering details in search criteria for designations
search_designation=driver.find_element_by_class_name("suggestor-input ")
search_designation.send_keys("Data Analyst")

In [20]:
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Bangalore')

In [21]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

4. Then scrape the data for the first 10 jobs results you get.

In [22]:
# We will create empty list in which we will update the required data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [24]:
#Extracting all the tages with the job titles.

title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_title.append(i.text)
    Job=job_title[:10]

In [26]:
job_title

['Business Data Analyst',
 'EY GDS Data Analyst-Finland based project',
 'Business & Data Analyst - Alteryx (London)',
 'Data Analyst - Data and Analytics',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - Data Science, 3 To 5 Years',
 'Data Analyst / Business Analyst',
 'Genpact Hiring For Data Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS',
 'Data analyst / Data scientist, AVP',
 'Data analyst / Data scientist, Associate',
 'Senior Mis Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst ( Outsourced)',
 'Master Data Management Business Analyst',
 'Data Analytics and Interpretation Business Analyst',
 'Data Analyst']

In [27]:
#Extracting all the tages with the job location.
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags:
    job_location.append(i.text)
    loc=job_location[:10]
loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)']

In [28]:
#Extracting all the tages with the company names.
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_name.append(i.text)
    com=company_name[:10]
com

['NXP Semiconductors',
 'EY',
 'Imaginative Brains LLP',
 'Intel',
 'Flipkart',
 'Walmart',
 'Rise Finconnect Private Limited',
 'METRO Cash & Carry',
 'Genpact',
 'Leading US MNC into Analytics']

In [30]:
#Extracting all the tages with the experince required.
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in exp_tags:
    experience_required.append(i.text)
    exp=experience_required[:10]
exp

['2-5 Yrs',
 '0-1 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '4-7 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '2-7 Yrs']

5. Finally create a dataframe of the scraped data.

In [31]:
Data_Analyst={'Job':Job,'Location':loc,
              'Company':com,'Experience Required':exp}
Data_Analyst=pd.DataFrame(data=Data_Analyst)
Data_Analyst

,Job,Location,Company,Experience Required
0,Business Data Analyst,Bangalore/Bengaluru,NXP Semiconductors,2-5 Yrs
1,EY GDS Data Analyst-Finland based project,Bangalore/Bengaluru,EY,0-1 Yrs
2,Business & Data Analyst - Alteryx (London),"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Imaginative Brains LLP,5-10 Yrs
3,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,3-6 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Walmart,4-7 Yrs
6,"Data Analyst - Data Science, 3 To 5 Years",Bangalore/Bengaluru,Rise Finconnect Private Limited,2-6 Yrs
7,Data Analyst / Business Analyst,Bangalore/Bengaluru,METRO Cash & Carry,3-8 Yrs
8,Genpact Hiring For Data Analyst,Bangalore/Bengaluru,Genpact,2-6 Yrs
9,data analyst/ data analytics / Business analys...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",Leading US MNC into Analytics,2-7 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [35]:
url='https://www.naukri.com/'
driver.get(url)

2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

In [39]:
#Entering details in search criteria for designations
search_designation=driver.find_element_by_class_name("suggestor-input ")
search_designation.send_keys('Data Scientist')

#Entering deatils in loaction field
search_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_location.send_keys('Bangalore')

In [40]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

4. Then scrape the data for the first 10 jobs results you get.

In [41]:
# We will create empty list in which we will update the required data
job=[]
loc=[]
comp=[]
desc=[]

In [42]:
#Extracting all the tages with the job titles.

title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title:
    job.append(i.text)
    job=job[:10]
job

['AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Immediate Joiners',
 'Data Scientist- AI/ML- R&D',
 'Urgent Hiring For AI Data Scientist']

In [43]:
location=driver.find_element_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location.text

'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)'

In [44]:
#Extracting all the tages with the job location.

locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in locations:
    loc.append(i.text)
loc=loc[:10]
loc

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Mumbai, Pune, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)']

In [45]:
#Extracting all the tages with the company names.
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company:
    comp.append(i.text)
    
comp=comp[:10]
comp

['Wipro',
 'Wipro',
 'Genpact',
 'Walmart',
 'Walmart',
 'Genpact',
 'Genpact',
 'Bristlecone',
 'EXL',
 'Ashkom Media India Private Limited']

In [46]:
#For this task we have to scrap url for each job
from selenium.common.exceptions import  NoSuchElementException
url_job=[]
for i in title:
    url_job.append(i.get_attribute('href'))

for k in url_job[0:10]:
    try:
        
        driver.get(k)
        descript=driver.find_element_by_xpath("//div[@class='dang-inner-html']").text
        desc.append(descript)
    except NoSuchElementException:
        desc.append('NA')

desc=desc[:10]
desc

['Roles and Responsibilities\n\n\nDesired Candidate Profile\nExperience with one or more general purpose programming languages including but not limited to: Java, C/C++, Python or R.\nExperience in Architecture and Design tools like UML and Framework like TensorFlow, Torch or Caffe.\nStrong background in Deep Learning/RNN/LSTM, Reinforcement Learning, Natural Language Processing, Cognitive Search or Computer Vision.\nStrong background in Cognitive Computing, Machine Learning or Artificial Intelligence.\nExperience in handling data in the form of text, speech, image, video or live stream from IoT/ Sensors/ Web.\n\nPerks and Benefits',
 'Greetings from Wipro !\n\nWe are hiring for Data Scientist looking for early joiners. Please find the below Job details\n\nMandatory Skills - Data Scientist , Python, AWS , IoT data , Google Maps API\n\nPrimary responsibility\nMust have experience in developing data science models.\nExperience using machine learning algorithms (e.g. Generalized Linear Models, Boosting, Decision Trees, Neural Networks, SVM, Bayesian Methods, time series models, etc.)\nHands-on experience in using machine learning models for regression and classification problems.\nHands on experience in unsupervised machine learning algorithms. Working knowledge of clustering techniques such has, centroid based clustering.\nWorking experience with Cloud Computing Platforms such as AWS / IBM\nStrong programming skills in python is a must. Working experience with pandas, numpy, matplotlib, sklearn\nShould have experience in one or more full-time Data Science/ML roles\nData Visualization techniques. Knowledge of visualization tools\n\nDesirable:\n\nExperience in Spark or other distributed computing frameworks.\nUnderstanding of AWS Sagemaker / Google AutoML / IBM AutoAI\nExperience in time-series/IoT data analytics e.g. data streaming from vehicle on-board IoT device data in time-series format that may comprise of GPS data, on-board sensors of the vehicle powertrain, body and chassis systems.\nExposure to automotive systems, automobile basics, Controller Area Network protocol (CAN protocol) etc.\nExperience working with remote team members\nData Visualization tools such as Tableau, PowerBI etc.\nWorking experience with Google Maps API.',
 'NA',
 '  As a Senior Data Scientist for Walmart, you ll have the opportunity to:\nDrive data-derived insights across a wide range of divisions by developing advanced statistical models, machine learning algorithms and computational algorithms based on business initiatives\nDirect the gathering of data, assessing data validity and synthesizing data into large analytics datasets to support project goals\nUtilize big data analytics and advanced data science techniques to identify trends, patterns, and discrepancies in data. Determine additional data needed to support insights\nBuild and train statistical models and machine learning algorithms\nApply your semantic, natural language processing and understanding expertise where required\nProductionize the models and make those available at scale\nBuild and maintain end to end Machine Learning pipelines\nBe comfortable with ambiguity and uncertainty and the eagerness to change the world in a huge way by being a self-motivated learner and builder\nCommunicate recommendations to business partners and influencing future plans based on insights\nPosition Requirements/ Qualifications\nBachelors degree in Statistics, Mathematics, Computer Science or a related field and 6 years experience in an analytics/DS related field, or,\nMasters degree in Statistics, Mathematics, Computer Science or a related field and 5 years experience in an analytics/DS related field.\nHigh proficiency in data mining, modeling, validation and insight generation.\nExcellent working knowledge of statistics, mathematics, machine learning, data mining, deep learning\nHigh proficiency in coding including Python and SQL\nExperience with databases (for example, DB2, Oracle, SQL Server)\nExperience with Big Data technologies such as Pig, Hive and/or Spark\nAbility to work with large data sets. Has sound understanding of big data technology stack\nUnderstanding of cloud computing platforms and large-scale databases\nProven ability to collaborate and work in teams\nExcellent with communications and stakeholder engagement\nData science publications in recognized platforms/journals\nProven ability to work in agile mode on data science sprint projects\nOur Ideal Candidate\nYou are a technically strong and high performing individual with excellent communication skills, proven analytical skill set and strong customer focus. You stay updated with latest research and technology ideas, and have a passion to utilize innovative ways to solve problems. You are a good story-teller and able to simply articulate the intricacies of your models as well as explain your results clearly to stakeholders. You have industry knowledge of the retail space, with keen interest in keeping up to date on the latest happenings in this space.\nAdditional Preferred Qualifications:\nDomain Knowledge of one or more divisions in Retail\nPublished papers or given talks in leading academic and research journals\nPublished papers or given talks in Data Science Forums\nHold data science related patents\nExperience with data warehouse platforms\nExperience with GPU/CUDA for computational efficiency',
 '  Drive data-derived insights across the wide range of retail divisions by developing advanced statistical models, machine learning algorithms and computational algorithms based on business initiatives\nDirect the gathering of data, assessing data validity and synthesizing data into large analytics datasets to support project goals\nUtilize big data analytics and advanced data science techniques to identify trends, patterns, and discrepancies in data. Determine additional data needed to support insights\nBuild and train statistical models and machine learning algorithms for replication for future projects\nCommunicate recommendations to business partners and influencing future plans based on insights\nPosition Requirements:\nPlay a key role to solve complex problems, pivotal to Walmart s business and drive actionable insights from petabytes of data\nUtilize product mindset to build, scale and deploy holistic data science products after successful prototyping\nDemonstrate incremental solution approach with agile and flexible ability to overcome practical problems\nLead small teams and participate in data science project teams by serving as the technical lead for project\nPartner with senior team members to assess customer needs and define business questions\nClearly articulate and present recommendations to business partners, and influence future plans based on insights\nPartner and engage with associates in other regions for delivering best services to the customers around the globe\nWork with customer centric mindset to deliver high quality business driven analytic solution\nMentor peers and analysts across the division in analytical best practices\nDrive innovation in approach, method, practices, process, outcome, delivery, or any component of end-to-end problem solving\nPromote and support company policies, procedures, mission, values, and standards of ethics and integrity\nOur Ideal Candidate\nYou have a deep interest and passion for technology. You love writing and owning codes and enjoy working with people who will keep challenging you at every stage. You have strong problem solving, analytic, design, architecture, decision-making and communication skills.\nYou are self-driven and motivated with the desire to work in a fast-paced, results-driven agile environment with varied responsibilities. You stay updated with latest research and technology ideas, and have a passion to utilize innovative ways to solve problems. You are a good story-teller and able to simply articulate the intricacies of your models as well as explain your results clearly to stakeholders. You have industry knowledge of the retail space, with keen interest in keeping up to date on the latest happenings in this space.\nYour Qualifications\nBachelors with > 10 years of relevant experience OR Masters with > 7 years of relevant experience OR PHD in Comp Science/Statistics/Mathematics with > 4 years of relevant experience\nExperience in Analyzing the Complex Problems and translate it into data science algorithms\nExperience in machine learning, supervised and unsupervised: Forecasting, Classification, Data/Text Mining, NLP, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms\nExperience in statistical learning: Predictive & Prescriptive Analytics, Web Analytics, Parametric and Non-parametric models, Regression, Time Series, Dynamic/Causal Model, Statistical Learning, Guided Decisions, Topic Modeling\nExperience with big data analytics - identifying trends, patterns, and outliers in large volumes of data\nLead role mentoring multiple Jr. Analysts on approach and results.\nStrong Experience with one or more of Python and R\nStrong Experience with big data platforms - Hadoop (Hive, Pig, Map Reduce, HQL, Scala)\nExperience with Teradata, SQL and relational databases, data warehouse\nShould be a fast learner and quickly adapt to new technologies.\nPrefer individuals with High Ownership and commitment.\nAbility to work with distributed teams in a collaborative and productive manner.\nA self-motivated learner and builder with strong customer focus and obsession with quality',
 'NA',
 'NA',
 'An avid technology enthusiast , Machine leaning methodology , Linear and hedonic regressions, random forest\nML Model Must have Regression models, Random Forest, Boosting models . Good to have other advanced ML techniques knowledge SVM, Naive Bayes , KNN,\nClustering techniques K means etc\nAI Deep Learning Must have some exposure to NLP, Text mining . Good to have Deep Learning Model knowledge e.g. ANN, CNN, LSTM\nKnowledge of SAS, R , python predictive analytics Data Modelling etc.\nHands on with Advance Excel and SQL\nSoft Skill should Good communication skills who can do the stakeholder management as well.\nExcellent presentation skill\nAutomotive domain experience preferred.',
 'NA',
 'Job Description\nDevelop math models and algorithms and deploy models created with large social media training data sets.\nEvaluating state-of-the-art statistical modeling and Machine Learning approaches.\nDevelop unique approaches to complex modeling and inference problems which combine marketing and social media data knowledge with mathematical approaches to recognize patterns and trends in influencer marketing industries.\nData Analysis, Visualization and Modeling with large text, image and video datasets\nCreate data pipelines and demonstrate processes for Data Acquisition, Ingestion, Cleaning, and Transformation\nWork closely with the CTO, Product, Engineering, DevOps and Ai Science teams\nCollaborate with the product team, share feedback from project implementations and influence the product roadmap.\nBe comfortable in a highly dynamic, agile environment without sacrificing the quality of work products.\nStay current with emerging AI, MLOps, web and mobile technologies and trends.']

. Finally create a dataframe of the scraped data.

In [47]:
Data_Scientist={'Job':job,'Location':loc,
              'Company':comp,'Job Description':desc}
Data_Scientist=pd.DataFrame(data=Data_Scientist)
Data_Scientist

,Job,Location,Company,Job Description
0,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro,Roles and Responsibilities\n\n\nDesired Candid...
1,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro,Greetings from Wipro !\n\nWe are hiring for Da...
2,Data Scientist,Bangalore/Bengaluru,Genpact,NA
3,Senior Data Scientist,Bangalore/Bengaluru,Walmart,"As a Senior Data Scientist for Walmart, you ..."
4,Senior Data Scientist,Bangalore/Bengaluru,Walmart,Drive data-derived insights across the wide ...
5,Data Scientist,Bangalore/Bengaluru,Genpact,NA
6,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Genpact,NA
7,Data Scientist - Immediate Joiners,"Noida, Mumbai, Pune, Bangalore/Bengaluru",Bristlecone,"An avid technology enthusiast , Machine leanin..."
8,Data Scientist- AI/ML- R&D,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",EXL,NA
9,Urgent Hiring For AI Data Scientist,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Ashkom Media India Private Limited,Job Description\nDevelop math models and algor...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [60]:
driver = webdriver.Chrome('chromedriver.exe')

In [61]:
url='https://www.naukri.com/'
driver.get(url)

. Enter “Data Scientist” in “Skill,Designations,Companies” field

In [69]:
search_designation = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_designation.send_keys('Data Scientist')

In [70]:
driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]').click()

In [71]:
#Applying filter for loaction 'Delhi/NCR'

driver.find_element_by_xpath("//span[@class='ellipsis fleft']").click()
time.sleep(4)

#Applying fliter for salary '3-6 lakhs'

driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()

. Then scrape the data for the first 10 jobs results you get.

In [72]:
# We will create empty list in which we will update the required data
Job=[]
Loc=[]
Comp=[]
Exp=[]

#scrapping job titles
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    Job.append(i.text)
    Job=Job[:10]
    
#scrapping location
loct=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in loct:
    Loc.append(i.text)
    Loc=Loc[:10]
    
#scrapping company
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in comp:
    Comp.append(i.text)
    Comp=Comp[:10]
    
#scrapping experience
expe=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in expe:
    Exp.append(i.text)
    Exp=Exp[:10]

#Creating the DataFrame
Data_Scientist_Delhi={'Job':Job,'Location':Loc,
              'Company':Comp,'Experience':Exp}
Data_Scientist_Delhi=pd.DataFrame(data=Data_Scientist_Delhi)
Data_Scientist_Delhi

,Job,Location,Company,Experience
0,Hiring MBA Freshers -2022 - For our Talent Acq...,"Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",KPMG,0-0 Yrs
1,Aem Developer,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Cognizant,3-8 Yrs
2,Tcs Hiring For Site Reliability Engineer_ PAN ...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",TATA CONSULTANCY SERVICES (TCS),5-10 Yrs
3,Greetings From Cognizant!!!!!!,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Cognizant Technology Solutions India Pvt Ltd,2-7 Yrs
4,Tcs is Hiring For Angular Js Developer For PAN...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Tata Consultancy Services Ltd.,2-6 Yrs
5,Talend Developer,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Capgemini,6-9 Yrs
6,Java Angular Developer,(WFH during Covid),TATA CONSULTANCY SERVICES (TCS),2-7 Yrs
7,Java Angular Developer,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",TATA CONSULTANCY SERVICES (TCS),2-5 Yrs
8,Tcs Hiring For RPA Automation Anywhere_PAN India,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",TATA CONSULTANCY SERVICES (TCS),3-8 Yrs
9,AWS DevOps Engineer,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Infosys,7-12 Yrs


# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual

4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

In [73]:
driver = webdriver.Chrome('chromedriver.exe')

In [74]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [75]:
search_locn = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_locn

In [76]:
search_locn.send_keys('sunglasses')

In [77]:
## clicking search button using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [78]:
search_btn.click()

Extracting brand

In [79]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
### now brand is inside the brand tag we will iterate over it to extract brands
brand_sg = []
for i in brand:
    brand_sg.append(i.text)
print(len(brand_sg))
print(brand_sg)

40
['Mi', 'Fastrack', 'SRPM', 'Fastrack', 'Elligator', 'PIRASO', 'PIRASO', 'PIRASO', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'New Specs', 'Fastrack', 'Mi', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'SUNBEE', 'PIRASO', 'United Colors of Benetton', 'SHAAH COLLECTIONS', 'New Specs', 'Lee Topper', 'Elligator', 'SUNBEE', 'ROZZETTA CRAFT', 'SRPM', 'GANSTA', 'Fastrack', 'ROYAL SON', 'Urbanic', 'Lee Topper', 'PIRASO', 'GANSTA', 'WROGN', 'AISLIN', 'PIRASO', 'HRX by Hrithik Roshan', 'ROYAL SON', 'Fastrack', 'SHAAH COLLECTIONS']

product description

In [80]:
product = driver.find_elements_by_xpath('//div[@class="_2B099V"]')

product_sg = []
for i in product:
    product_sg.append(i.text.split("\n")[-3])
print(len(product_sg))
print(product_sg)

40
['₹649₹1,19945% off', 'UV Protection Rectangular Sunglasses (Free Size)', '₹199₹1,29984% off', 'UV Protection Wayfarer Sunglasses (Free Size)', '₹280₹2,49588% off', '₹199₹1,59987% off', '₹199₹1,59987% off', '₹319₹2,59987% off', '₹272₹2,59989% off', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', '₹449₹1,99977% off', 'UV Protection Rectangular Sunglasses (Free Size)', '₹899₹1,29930% off', '₹599₹99940% off', 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...', '₹314₹1,99984% off', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', '₹219₹1,59986% off', '₹669₹3,70081% off', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'Mirrored, UV Protection, Riding Glasses, Others Round S...', 'Riding Glasses Wrap-around Sunglasses (Free Size)', '₹195₹99880% off', 'UV Protection, Polarized, Mirrored Retro Square Sunglas...', '₹449₹2,22579% off', '₹195₹99980% off', '₹207₹1,79988% off', 'UV Protection Aviator Sunglasses (Free Size)', '₹531₹1,99973% off', 'Others Oval Sunglasses (Free Size)', '₹259₹1,29980% off', '₹307₹1,59980% off', '₹279₹1,99986% off', 'Polarized Aviator Sunglasses (44)', '₹415₹1,52572% off', '₹307₹2,59988% off', '₹999₹2,59961% off', '₹359₹1,49976% off', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)']

In [81]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

price_sg = []
for i in price:
    price_sg.append(i.text)
    price_sg = price_sg
print(len(price_sg))
print(price_sg)

40
['₹649', '₹639', '₹199', '₹699', '₹280', '₹199', '₹199', '₹319', '₹272', '₹599', '₹449', '₹264', '₹899', '₹599', '₹719', '₹314', '₹283', '₹219', '₹669', '₹195', '₹299', '₹299', '₹195', '₹259', '₹449', '₹195', '₹207', '₹629', '₹531', '₹449', '₹259', '₹307', '₹279', '₹449', '₹415', '₹307', '₹999', '₹359', '₹849', '₹279']

In [82]:
### clicking on next button 
next_btn = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn

In [83]:
next_btn.click()

In [84]:
## Extracting brand name from 40-80
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand:
    brand_sg.append(i.text)
print(len(brand_sg))
print(brand_sg)

80
['Mi', 'Fastrack', 'SRPM', 'Fastrack', 'Elligator', 'PIRASO', 'PIRASO', 'PIRASO', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'New Specs', 'Fastrack', 'Mi', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'SUNBEE', 'PIRASO', 'United Colors of Benetton', 'SHAAH COLLECTIONS', 'New Specs', 'Lee Topper', 'Elligator', 'SUNBEE', 'ROZZETTA CRAFT', 'SRPM', 'GANSTA', 'Fastrack', 'ROYAL SON', 'Urbanic', 'Lee Topper', 'PIRASO', 'GANSTA', 'WROGN', 'AISLIN', 'PIRASO', 'HRX by Hrithik Roshan', 'ROYAL SON', 'Fastrack', 'SHAAH COLLECTIONS', 'PIRASO', 'Fastrack', 'Lee Topper', 'Singco India', 'United Colors of Benetton', 'kingsunglasses', 'PIRASO', 'LIZA ANGEL', 'ROYAL SON', 'Fastrack', 'VINCENT CHASE', 'Arnette', 'PHENOMENAL', 'Fastrack', 'SRPM', 'ROZZETTA CRAFT', 'AISLIN', 'ROZZETTA CRAFT', 'Fastrack', 'ROZZETTA CRAFT', 'SRPM', 'SUNBEE', 'kingsunglasses', 'GANSTA', 'New Specs', 'VINCENT CHASE', 'Ray-Ban', 'Arnette', 'AISLIN', 'NuVew', 'PHENOMENAL', 'ROYAL SON', 'PIRASO', 'ROZZETTA CRAFT', 'kingsunglasses', 'ROYAL SON', 'VINCENT CHASE', 'VINCENT CHASE', 'ROYAL SON', 'Arnette']

In [85]:
product2 = driver.find_elements_by_xpath('//div[@class="_2B099V"]')
for i in product2:
    product_sg.append(i.text.split('\n'))
print(len(product_sg))
print(product_sg)

80
['₹649₹1,19945% off', 'UV Protection Rectangular Sunglasses (Free Size)', '₹199₹1,29984% off', 'UV Protection Wayfarer Sunglasses (Free Size)', '₹280₹2,49588% off', '₹199₹1,59987% off', '₹199₹1,59987% off', '₹319₹2,59987% off', '₹272₹2,59989% off', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', '₹449₹1,99977% off', 'UV Protection Rectangular Sunglasses (Free Size)', '₹899₹1,29930% off', '₹599₹99940% off', 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...', '₹314₹1,99984% off', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', '₹219₹1,59986% off', '₹669₹3,70081% off', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'Mirrored, UV Protection, Riding Glasses, Others Round S...', 'Riding Glasses Wrap-around Sunglasses (Free Size)', '₹195₹99880% off', 'UV Protection, Polarized, Mirrored Retro Square Sunglas...', '₹449₹2,22579% off', '₹195₹99980% off', '₹207₹1,79988% off', 'UV Protection Aviator Sunglasses (Free Size)', '₹531₹1,99973% off', 'Others Oval Sunglasses (Free Size)', '₹259₹1,29980% off', '₹307₹1,59980% off', '₹279₹1,99986% off', 'Polarized Aviator Sunglasses (44)', '₹415₹1,52572% off', '₹307₹2,59988% off', '₹999₹2,59961% off', '₹359₹1,49976% off', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', ['PIRASO', 'UV Protection Aviator Sunglasses (54)', '₹198₹1,59987% off', 'Free delivery', 'EOSS Special'], ['Fastrack', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', '₹849₹99915% off', 'Free delivery'], ['Lee Topper', 'UV Protection Rectangular Sunglasses (Free Size)', '₹219₹99978% off', 'Free delivery'], ['Singco India', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', '₹630₹2,99978% off', 'Free delivery', 'EOSS Special'], ['United Colors of Benetton', 'Mirrored, UV Protection Round Sunglasses (57)', '₹669₹3,70081% off', 'Free delivery', 'EOSS Special'], ['kingsunglasses', 'UV Protection, Mirrored Aviator Sunglasses (Free Size)', '₹269₹1,89985% off', 'Free delivery'], ['PIRASO', 'UV Protection Over-sized Sunglasses (65)', '₹410₹2,59984% off', 'Free delivery', 'EOSS Special'], ['LIZA ANGEL', 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...', '₹199₹99980% off', 'Size Free Size'], ['ROYAL SON', 'UV Protection, Gradient Butterfly Sunglasses (62)', '₹531₹1,99973% off', 'Free delivery'], ['Fastrack', 'UV Protection Wayfarer Sunglasses (Free Size)', '₹759₹89915% off', 'Free delivery'], ['VINCENT CHASE', 'by Lenskart Polarized, UV Protection Round Sunglasses (...', '₹719₹1,99964% off', 'Free delivery'], ['Arnette', 'Others Oval Sunglasses (53)', '₹2,359₹6,39063% off', 'Free delivery', 'EOSS Special'], ['PHENOMENAL', 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...', '₹332₹1,99883% off', 'Free delivery'], ['Fastrack', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', '₹699₹89922% off', 'Free delivery'], ['SRPM', 'Night Vision, UV Protection Round Sunglasses (54)', '₹207₹99979% off', 'Free delivery', 'EOSS Special'], ['ROZZETTA CRAFT', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', '₹314₹1,99984% off', 'Free delivery', 'EOSS Special'], ['AISLIN', 'UV Protection, Gradient Retro Square Sunglasses (58)', '₹415₹1,52572% off', 'Free delivery'], ['ROZZETTA CRAFT', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', '₹359₹1,99982% off', 'Free delivery', 'EOSS Special'], ['Fastrack', 'UV Protection Aviator Sunglasses (58)', '₹1,025₹1,29921% off', 'Free delivery'], ['ROZZETTA CRAFT', 'UV Protection Spectacle Sunglasses (Free Size)', '₹359₹1,99982% off', 'Free delivery', 'EOSS Special'], ['SRPM', 'UV Protection Wayfarer Sunglasses (53)', '₹221₹99877% off', 'Free delivery', 'EOSS Special'], ['SUNBEE', 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...', '₹283₹1,29978% off', 'Free delivery'], ['kingsunglasses', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', '₹269₹1,49982% off', 'Free delivery'], ['GANSTA', 'UV Protection Aviator Sunglasses (57)', '₹279₹1,99986% off', 'Free delivery', 'EOSS Special'], ['New Specs', 'UV Protection Rectangular Sunglasses (Free Size)', '₹189₹1,59988% off', 'Free delivery'], ['VINCENT CHASE', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', '₹683₹1,99965% off', 'Free delivery'], ['Ray-Ban', 'Mirrored Aviator Sunglasses (63)', '₹3,639₹5,49033% off', 'Free delivery', 'EOSS Special'], ['Arnette', 'Others Retro Square Sunglasses (55)', '₹2,919₹7,79062% off', 'Free delivery', 'EOSS Special'], ['AISLIN', 'UV Protection, Gradient Oval Sunglasses (58)', '₹415₹1,52572% off', 'Free delivery', 'EOSS Special'], ['NuVew', 'UV Protection Sports Sunglasses (62)', '₹307₹1,24575% off', 'Free delivery', 'EOSS Special'], ['PHENOMENAL', 'UV Protection Retro Square Sunglasses (Free Size)', '₹341₹1,99982% off', 'Free delivery'], ['ROYAL SON', 'Polarized, UV Protection Round Sunglasses (52)', '₹639₹1,99968% off', 'Free delivery'], ['PIRASO', 'UV Protection Butterfly Sunglasses (60)', '₹359₹2,59986% off', 'Free delivery', 'EOSS Special'], ['ROZZETTA CRAFT', 'UV Protection, Gradient Round Sunglasses (Free Size)', '₹359₹1,99982% off', 'Free delivery', 'EOSS Special'], ['kingsunglasses', 'UV Protection Rectangular Sunglasses (55)', '₹189₹1,29985% off', 'Free delivery'], ['ROYAL SON', 'UV Protection, Polarized Wayfarer Sunglasses (54)', '₹639₹1,99968% off', 'Free delivery', 'Lowest price since launch'], ['VINCENT CHASE', 'by Lenskart UV Protection Aviator Sunglasses (Free Size...', '₹720₹1,99963% off', 'Free delivery', 'Lowest price in the year'], ['VINCENT CHASE', 'by Lenskart UV Protection Wayfarer Sunglasses (51)', '₹711₹1,99964% off', 'Free delivery'], ['ROYAL SON', 'Mirrored Aviator Sunglasses (Free Size)', '₹359₹1,49976% off', 'Free delivery', 'EOSS Special'], ['Arnette', 'Others Rectangular Sunglasses (56)', '₹2,919₹7,79062% off', 'Free delivery', 'EOSS Special']]

In [86]:
price2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price2:
    price_sg.append(i.text)
    price_sg = price_sg
print(len(price_sg))
print(price_sg)

80
['₹649', '₹639', '₹199', '₹699', '₹280', '₹199', '₹199', '₹319', '₹272', '₹599', '₹449', '₹264', '₹899', '₹599', '₹719', '₹314', '₹283', '₹219', '₹669', '₹195', '₹299', '₹299', '₹195', '₹259', '₹449', '₹195', '₹207', '₹629', '₹531', '₹449', '₹259', '₹307', '₹279', '₹449', '₹415', '₹307', '₹999', '₹359', '₹849', '₹279', '₹198', '₹849', '₹219', '₹630', '₹669', '₹269', '₹410', '₹199', '₹531', '₹759', '₹719', '₹2,359', '₹332', '₹699', '₹207', '₹314', '₹415', '₹359', '₹1,025', '₹359', '₹221', '₹283', '₹269', '₹279', '₹189', '₹683', '₹3,639', '₹2,919', '₹415', '₹307', '₹341', '₹639', '₹359', '₹359', '₹189', '₹639', '₹720', '₹711', '₹359', '₹2,919']

In [87]:
### clicking on next button 
next_btn2 = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_btn2

In [88]:
next_btn2.click()

In [90]:
## Extracting brand name from 80-100
brand3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand3:
    brand_sg.append(i.text)
print(len(brand_sg))
print(brand_sg)

120
['Mi', 'Fastrack', 'SRPM', 'Fastrack', 'Elligator', 'PIRASO', 'PIRASO', 'PIRASO', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'New Specs', 'Fastrack', 'Mi', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'SUNBEE', 'PIRASO', 'United Colors of Benetton', 'SHAAH COLLECTIONS', 'New Specs', 'Lee Topper', 'Elligator', 'SUNBEE', 'ROZZETTA CRAFT', 'SRPM', 'GANSTA', 'Fastrack', 'ROYAL SON', 'Urbanic', 'Lee Topper', 'PIRASO', 'GANSTA', 'WROGN', 'AISLIN', 'PIRASO', 'HRX by Hrithik Roshan', 'ROYAL SON', 'Fastrack', 'SHAAH COLLECTIONS', 'PIRASO', 'Fastrack', 'Lee Topper', 'Singco India', 'United Colors of Benetton', 'kingsunglasses', 'PIRASO', 'LIZA ANGEL', 'ROYAL SON', 'Fastrack', 'VINCENT CHASE', 'Arnette', 'PHENOMENAL', 'Fastrack', 'SRPM', 'ROZZETTA CRAFT', 'AISLIN', 'ROZZETTA CRAFT', 'Fastrack', 'ROZZETTA CRAFT', 'SRPM', 'SUNBEE', 'kingsunglasses', 'GANSTA', 'New Specs', 'VINCENT CHASE', 'Ray-Ban', 'Arnette', 'AISLIN', 'NuVew', 'PHENOMENAL', 'ROYAL SON', 'PIRASO', 'ROZZETTA CRAFT', 'kingsunglasses', 'ROYAL SON', 'VINCENT CHASE', 'VINCENT CHASE', 'ROYAL SON', 'Arnette', 'PIRASO', 'ROZZETTA CRAFT', 'kingsunglasses', 'Fastrack', 'Fastrack', 'Fastrack', 'HRX by Hrithik Roshan', 'Urbanic', 'kingscape', 'PIRASO', 'New Specs', 'ROZZETTA CRAFT', 'CRYSTAL CART', 'New Specs', 'AISLIN', 'Lee Topper', 'Rich Club', 'Fastrack', 'maxa', 'AISLIN', 'Lee Topper', 'ROYAL SON', 'WROGN', 'Fastrack', 'Singco India', 'ROYAL SON', 'Fastrack', 'GHAWK', 'CRYSTAL CART', 'United Colors of Benetton', 'kingsunglasses', 'Fastrack', 'hipe', 'United Colors of Benetton', 'IDEE', 'AISLIN', 'Roadster', 'VINCENT CHASE', 'HRX by Hrithik Roshan', 'Fastrack']

In [91]:
brand_sg = brand_sg[:100]
print(len(brand_sg))

100

In [93]:
product3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in product3:
    product_sg.append(i.text.split('\n'))
product_sg = product_sg[:100]
print(len(product_sg))

100

In [94]:
price3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price3:
    price_sg.append(i.text)
price_sg = price_sg[:100]
print(len(price_sg))

100

In [95]:
Sunglasses=pd.DataFrame()
Sunglasses['Brand'] = brand_sg
Sunglasses['Product description'] = product_sg
Sunglasses['Price'] = price_sg
Sunglasses

         Brand                               Product description Price
0           Mi                                 ₹649₹1,19945% off  ₹649
1     Fastrack  UV Protection Rectangular Sunglasses (Free Size)  ₹639
2         SRPM                                 ₹199₹1,29984% off  ₹199
3     Fastrack     UV Protection Wayfarer Sunglasses (Free Size)  ₹699
4    Elligator                                 ₹280₹2,49588% off  ₹280
..         ...                                               ...   ...
95  Lee Topper                                      [Lee Topper]  ₹276
96   Rich Club                                       [Rich Club]  ₹199
97    Fastrack                                        [Fastrack]  ₹789
98        maxa                                            [maxa]  ₹189
99      AISLIN                                          [AISLIN]  ₹415

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [96]:
driver = webdriver.Chrome('chromedriver.exe')

In [100]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [104]:
Ratings=[]
for i in range(0,10,1):
    Rating_iphone = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for j in Rating_iphone:
        Ratings.append(j.text)
print(len(Ratings))
print(Ratings)

100
['5', '5', '5', '', '', '', '', '', '', '', '5', '5', '5', '', '', '', '', '', '', '', '5', '5', '5', '', '', '', '', '', '', '', '5', '5', '5', '', '', '', '', '', '', '', '5', '5', '5', '', '', '', '', '', '', '', '5', '5', '5', '', '', '', '', '', '', '', '5', '5', '5', '', '', '', '', '', '', '', '5', '5', '5', '', '', '', '', '', '', '', '5', '5', '5', '', '', '', '', '', '', '', '5', '5', '5', '', '', '', '', '', '', '']

In [105]:
Reviews = []
for i in range(0,10,1):
    Review_iphone = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for j in Review_iphone:
        Reviews.append(j.text)
print(len(Reviews))
print(Reviews)

100
['Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '', 'Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '', 'Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '', 'Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '', 'Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '', 'Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '', 'Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '', 'Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '', 'Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '', 'Simply awesome', 'Best in the market!', 'Perfect product!', '', '', '', '', '', '', '']

In [106]:
full_reviews = []
for i in range(0,10,1):
    full_review_iphone = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for j in full_review_iphone:
        full_reviews.append(j.text.split('\n'))
print(len(full_reviews))
print(full_reviews)

100
[['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], [''], ['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], [''], ['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], [''], ['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], [''], ['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], [''], ['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], [''], ['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], [''], ['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], [''], ['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], [''], ['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'], ['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.', 'Pros', '-Camera top class', '- Battery top performed', '-Chipset no need to say as apple kind', '-Security as you expect from apple', '- Display super bright industry leading colour', 'accuracy and super responsive', '-Build quality as expect from apple sturdy', 'premium durable beautiful stylish.', '-Os most stable os in smartphone industry', '', 'Cons', '-No 5G', '-Display is not based on OLED technology', '-Charger headphones and 1 apple stic...', 'READ MORE'], ['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'], [''], [''], [''], [''], [''], [''], ['']]

In [108]:
iphone = pd.DataFrame()
iphone['Ratings'] = Ratings
iphone['Reviews'] = Reviews
iphone['Full Review'] = full_reviews

In [109]:
iphone

,Ratings,Reviews,Full Review
0,5,Simply awesome,[Really satisfied with the Product I received....
1,5,Best in the market!,[Great iPhone very snappy experience as apple ...
2,5,Perfect product!,[Amazing phone with great cameras and better b...
3,,,[]
4,,,[]
...,...,...,...
95,,,[]
96,,,[]
97,,,[]
98,,,[]
99,,,[]

#

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [140]:
driver = webdriver.Chrome('chromedriver.exe')

In [142]:
driver.get("https://www.flipkart.com/")

In [143]:
search_product = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_product.send_keys("Sneakers")

In [146]:
search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [ ]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [147]:
### Making empty lists for Brand,Product Description,Price and discounts :-
Brand1 =[]
prod_desc1=[]
price1 =[]
disc1=[]

## Scrapping  first 40 Brand Name on page1:-
br1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in br1:
    Brand1.append(i.text)
print("-------------Brand Name---------------------- ")    
print(Brand1)    
print("--------------------------------------------")

## Scrapping  first 40 Product Description on page1:-

pd1 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in pd1:
    prod_desc1.append(i.text)
print("---------------Product Description-----------")  
print(prod_desc1)

print("--------------------------------------------")

## Scrapping first 40 Price on page1 :-

pp1 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in pp1:
    price1.append(i.text)
    
print("---------------Product Description-----------")  
print(price1)
print("---------------------------------------------")

## Scrapping first 40 Discount on page1:-

dc1 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in dc1:
    disc1.append(i.text)
print("----------------Discount---------------------")  
print(disc1)
print("---------------------------------------------")

-------------Brand Name----------------------
['BRUTON', 'TR', 'BIRDE', 'Robbie jones', 'BRUTON', 'URBANBOX', 'Labbin', 'Rzisbo', 'BRUTON', 'Layasa', 'BRUTON', 'Echor', 'Robbie jones', 'Kraasa', 'aadi', 'Echor', 'Robbie jones', 'Dicy', 'D-SNEAKERZ', 'luxury fashion', 'Robbie jones', 'bluemaker', 'ASTEROID', 'BRUTON', 'Robbie jones', 'CAMPUS', 'KWIK FIT', 'luxury fashion', 'HOTSTYLE', 'CLYMB', 'PUMA', 'Bacan', 'Robbie jones', 'Robbie jones', 'U.S. POLO ASSN.', 'BIRDE', 'corsac', 'U.S. POLO ASSN.', 'aadi', 'CAMPUS']
--------------------------------------------
---------------Product Description-----------
['Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Latest New Model Designer Sneakers Fashionable Trendy &...', 'Sneakers For Men', 'Shark-41 Sneakers For Men', 'Sneakers For Men', "Men's Casual sneaker shoes running shoes walking shoes ...", 'Sneakers For Men', 'Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Luxury Fashionable casual shoes Sneakers For Men', 'Casual Sneakers Canvas Shoes For Men Sneakers For Men', 'casual for men Sneakers For Men', "Luxury Branded Fashionable Men's Casual Walking Partywe...", 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', 'Casual Sneakers White Shoes For Men Sneakers For Men', 'KING PRO Sneakers For Men', 'Kwik FIT casual sneaker shoes and partywear shoes Casua...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Puma Rebound LayUp SL Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Shoes For Men And Boys Sneakers For Men', 'PANAL Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'STYLISH MENS BLACK SNEAKER Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men']
--------------------------------------------
---------------Product Description-----------
['₹449', '₹359', '₹299', '₹399', '₹283', '₹198', '₹474', '₹438', '₹149', '₹359', '₹269', '₹598', '₹399', '₹419', '₹319', '₹509', '₹399', '₹284', '₹284', '₹448', '₹399', '₹424', '₹474', '₹499', '₹379', '₹699', '₹397', '₹450', '₹245', '₹519', '₹1,841', '₹474', '₹379', '₹399', '₹1,295', '₹283', '₹499', '₹1,214', '₹299', '₹924']
---------------------------------------------
----------------Discount---------------------
['65% off', '76% off', '70% off', '60% off', '78% off', '80% off', '52% off', '56% off', '75% off', '64% off', '79% off', '70% off', '60% off', '58% off', '68% off', '66% off', '60% off', '52% off', '56% off', '65% off', '60% off', '57% off', '76% off', '85% off', '62% off', '36% off', '80% off', '65% off', '75% off', '65% off', '63% off', '52% off', '62% off', '60% off', '56% off', '71% off', '66% off', '59% off', '70% off', '15% off']
---------------------------------------------

In [148]:
driver.get('https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2')

In [149]:
### Making empty lists for Brand,Product Description,Price and discounts :-
Brand2 =[]
prod_desc2=[]
price2 =[]
disc2=[]

## Scrapping  next 40 Brand Name on page2:-
br2 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in br2:
    Brand2.append(i.text)
print("-------------Brand Name---------------------- ")    
print(Brand2)    
print("--------------------------------------------")

## Scrapping  next 40 Product Description on page2:-

pd2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in pd2:
    prod_desc2.append(i.text)
print("---------------Product Description-----------")  
print(prod_desc2)
print("--------------------------------------------")

## Scrapping next 40 Price on page2 :-

pp2 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in pp2:
    price2.append(i.text)
    
print("---------------Product Description-----------")  
print(price2)
print("---------------------------------------------")

## Scrapping next 40 Discount on page2:-

dc2 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in dc2:
    disc2.append(i.text)
print("----------------Discount---------------------")  
print(disc2)
print("---------------------------------------------")

-------------Brand Name----------------------
['Layasa', "LEVI'S", 'LE GREEM', 'Echor', 'RapidBox', 'NAUTICA', 'PUMA', 'BRUTON', 'Echor', 'U.S. POLO ASSN.', 'Echor', 'TR', "LEVI'S", 'KNIGHT WALKERS', 'ASTEROID', 'Labbin', 'Chevit', 'BIRDE', 'KNIGHTWING', 'Echor', 'AMICO', 'asics', 'revord', 'luxury fashion', 'aadi', 'Numenzo', 'asics', 'BRUTON', "LEVI'S", 'Dizzler', 'PUMA', 'HOTSTYLE', 'SPARX', 'BRUTON', 'WHITE WALKERS', 'luxury fashion', 'SPARX', 'PUMA', 'U.S. POLO ASSN.', 'Bacan']
--------------------------------------------
---------------Product Description-----------
['Sneakers For Men', "Levi's Men's Henry Sneakers Sneakers For Men", 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...', 'Latest New Model Designer Sneakers Fashionable Trendy &...', 'Sneakers For Men', 'Blend Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'Sneakers For Men', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'Sneakers For Men', "Levi's Men's Lancer Sneakers Sneakers For Men", 'SS1100 Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Sneakers For Men', '516 Trendy Star Perfect Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Casual Walk...', "Men's Casual sneaker shoes running shoes walking shoes ...", 'Sneakers For Men', 'GEL-MOYA LS Sneakers For Men', 'Luxury Fashionable casual shoes Sneakers For Men', 'Sneakers For Men', 'LYTECOURT Sneakers For Men', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', "Men's Lancer Sneakers Sneakers For Men", 'Puma Smash Vulc Sneakers For Men', 'Sneakers For Men', 'Men White Sneakers Sneakers For Men', 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Sneakers For Men', 'SM-734 Sneakers For Men', 'Pacer Laser Sneakers For Men', 'CLARKIN Sneakers For Men', 'Sneakers For Men']
--------------------------------------------
---------------Product Description-----------
['₹399', '₹1,399', '₹424', '₹598', '₹665', '₹1,319', '₹1,511', '₹449', '₹458', '₹1,295', '₹458', '₹359', '₹1,599', '₹664', '₹474', '₹474', '₹279', '₹299', '₹664', '₹509', '₹466', '₹1,944', '₹145', '₹448', '₹319', '₹509', '₹1,839', '₹499', '₹1,599', '₹470', '₹2,089', '₹245', '₹756', '₹499', '₹599', '₹450', '₹714', '₹1,538', '₹1,295', '₹474']
---------------------------------------------
----------------Discount---------------------
['60% off', '50% off', '57% off', '70% off', '33% off', '75% off', '49% off', '65% off', '54% off', '56% off', '54% off', '76% off', '50% off', '66% off', '52% off', '52% off', '65% off', '70% off', '63% off', '66% off', '53% off', '61% off', '70% off', '65% off', '68% off', '83% off', '59% off', '85% off', '50% off', '34% off', '45% off', '75% off', '15% off', '80% off', '50% off', '65% off', '15% off', '65% off', '56% off', '52% off']
---------------------------------------------

In [150]:
driver.get('https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3')

In [151]:
### Making empty lists for Brand,Product Description,Price and discounts :-
Brand3 =[]
prod_desc3=[]
price3 =[]
disc3=[]

## Scrapping  next 20 Brand Name on page3:-
br3 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in br3:
    Brand3.append(i.text)
print("-------------Brand Name---------------------- ")    
print(Brand3[:20])    
print("--------------------------------------------")

## Scrapping  next 20 Product Description on page2:-

pd3 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in pd3:
    prod_desc3.append(i.text)
print("---------------Product Description-----------")  
print(prod_desc3[:20])
print("--------------------------------------------")

## Scrapping next 20 Price on page2 :-

pp3 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in pp3:
    price3.append(i.text)
    
print("---------------Product Description-----------")  
print(price3[:20])
print("---------------------------------------------")

## Scrapping next 20 Discount on page2:-

dc3 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in dc3:
    disc3.append(i.text)
print("----------------Discount---------------------")  
print(disc3[:20])
print("---------------------------------------------")

-------------Brand Name----------------------
['Chevit', 'DUNKASTON', 'luxury fashion', 'BRUTON', 'SPARX', 'corsac', 'U.S. POLO ASSN.', 'Rzisbo', 'RapidBox', 'LE GREEM', 'BIRDE', 'Echor', 'BIRDE', 'ASIAN', 'WOODLAND', 'TR', 'Airland', 'Rising Wolf', 'Bretton', 'Echor']
--------------------------------------------
---------------Product Description-----------
['494 Perfect Sports Shoes for Running Training Hikking &...', 'Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...', 'Sneakers For Men', 'Sneakers For Men', 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...', 'Sports Running Shoes Sneakers For Men', 'Latest New Model Designer Sneakers Fashionable Trendy &...', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Sneakers For Men', 'Sneakers For Men', 'shoe Sneakers For Men', 'Sneakers For Men', "Men's Casual sneaker shoes running shoes walking shoes ...", 'CLARKIN 2.0 Sneakers For Men', "White Sneaker For Men's/Boy's Sneakers For Men"]
--------------------------------------------
---------------Product Description-----------
['₹254', '₹363', '₹449', '₹449', '₹658', '₹499', '₹1,214', '₹438', '₹617', '₹424', '₹299', '₹598', '₹356', '₹493', '₹1,234', '₹359', '₹207', '₹458', '₹240', '₹509']
---------------------------------------------
----------------Discount---------------------
['74% off', '75% off', '65% off', '65% off', '15% off', '66% off', '59% off', '56% off', '38% off', '57% off', '40% off', '70% off', '64% off', '38% off', '50% off', '76% off', '58% off', '77% off', '75% off', '66% off']
---------------------------------------------

In [158]:
## Finally making Dataframe for 100 Sneakers:-
brand_100 = []
desc_100 = []
price_100 = []
disc_100 = []

## Adding to get 100 Sneaker's Brand Name from FlipCart: -

brand_100 = Brand1 + Brand2 + Brand3[:20]
print(len(brand_100))

## Adding to get 100 Sneaker's Product Description from FlipCart: -

desc_100 = prod_desc1 + prod_desc2 + prod_desc3[:27]
# print(len(prod_desc1))
# print(len(prod_desc2))
# print(len(prod_desc3))

### Since  length of product description on page1 is 35,on second page only 30 and again on page 3 ,it is 36,
##so make it 100,I have taken 35 data.

print(len(desc_100))

## Adding to get 100 Sneaker's price  from FlipCart: -
price_100 = price1 + price2 + price3[:20]
print(len(price_100))

## Adding to get 100 Sneaker's Discount data  from FlipCart: -
disc_100 = disc1 + disc2 + disc3[:20]
print(len(disc_100))

#### Making DataFrame

sneaker_df = pd.DataFrame({'Brand Name': brand_100,
                           'Product Description':desc_100,
                           'Price':price_100,
                           'Discount':disc_100
    
                          })

sneaker_df

100
100
100
100

,Brand Name,Product Description,Price,Discount
0,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹449,65% off
1,TR,Sneakers For Men,₹359,76% off
2,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",₹299,70% off
3,Robbie jones,Casual Sneakers Green Shoes For Men And Boys S...,₹399,60% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹283,78% off
...,...,...,...,...
95,TR,Sneakers For Men,₹359,76% off
96,Airland,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹207,58% off
97,Rising Wolf,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹458,77% off
98,Bretton,Levi's Men's Henry Sneakers Sneakers For Men,₹240,75% off
99,Echor,ST Activate V2 Sneakers For Men,₹509,66% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image

In [159]:
driver = webdriver.Chrome('chromedriver.exe')

In [160]:
## Taking driver to the specific url:-
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7195.0_14130.0_7195.0%20TO%2014130.0")

In [161]:
## Creating empty lists for Brand,Short Description,and Price.:-
brand1 = []
Short_desc1=[]
price1=[]

## Scrapping Brand on page 1:- 
br1 = driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in br1:
    brand1.append(i.text)
print("-------------Brand---------------------------")    
print(brand1) 
print(len(brand1))
print("--------------------------------------------------")

## Scrapping Short Description on page 1:- 

sd1 = driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in sd1:
    Short_desc1.append(i.text)
    
print("------------------Short Description------------------")
print(Short_desc1)
print(len(Short_desc1))
print("--------------------------------------------")

## Scrapping Price Data on page1 :-

pp1 = driver.find_elements_by_xpath("//div[@class='product-price']/span")
for i in pp1:
    price1.append(i.text)
print("-----------Price-----------------")  
print(price1)
print(len(price1))
print("---------------------------------")

for i in price1:
    print(i[:])

-------------Brand---------------------------
['Nike', 'Puma', 'UNDER ARMOUR', 'Nike', 'UNDER ARMOUR', 'Skechers', 'Nike', 'Puma', 'Puma', 'Puma', 'Puma', 'UNDER ARMOUR', 'ADIDAS', 'Skechers', 'Vans', 'Puma', 'Skechers', 'UNDER ARMOUR', 'ADIDAS', 'ADIDAS', 'UNDER ARMOUR', 'Geox', 'J.FONTINI', 'Columbia', 'Hush Puppies', 'Geox', 'ASICS', 'Puma', 'Geox', 'Geox', 'Geox', 'Geox', 'ADIDAS', 'Geox', 'Geox', 'Columbia', 'UNDER ARMOUR', 'ADIDAS', 'Geox', 'Geox', 'EVADICT By Decathlon', 'Geox', 'Saint G', 'Geox', 'Geox', 'Clarks', 'UNDER ARMOUR', 'Xtep', 'KIPRUN By Decathlon', 'Clarks']
50
--------------------------------------------------
------------------Short Description------------------
['Women Pegasus 39 Running Shoes', 'Men Running Shoes', 'Men UA Charged Breeze Training', 'Women React Escape Running', 'Men UA Charged Vantage 2 Run', 'Women Go Walk EU Walking Shoes', 'Women React MR 3 Running Shoes', 'Eternity Nitro Running Shoes', 'Men M Nitro Running Shoess', 'Electrify Nitro Running Shoes', 'Men Velocity Nitro 2 Running', 'Men Charged Breeze Running', 'Men Solar Glide 4 ST Running', 'Men Woven Design Sneakers', 'Men Colourblocked Sneakers', 'Men Velocity Nitro Running', 'Men Textured Sneakers', 'Women Charged Breeze Running', 'Women Sports Shoes', 'Women Supernova Running Shoes', 'W omen TriBase Reign 4 Running', 'Men Leather Driving Shoes', 'Men Leather Fashion', 'Men FACET OUTDRY Trekking Shoe', 'Men Solid Leather Formal Slip-Ons', 'Men Textured Leather Driving Shoes', 'Men Sports Shoes', 'Women Liberate NITRO Running', 'Men Textured Leather Driving Shoes', 'Men Textured Leather Driving Shoes', 'Men Textured Leather Driving Shoes', 'Men Textured Leather Slip-On Sneakers', 'Women Solar Glide 5 Running', 'Women Textured Leather Loafers', 'Men Perforations Sneakers', 'Women REDMOND V2 TrekkingShoe', 'Men HOVR Sonic SE Running Shoe', 'Women KarlieKlossX9000 Running', 'Men Leather Sneakers', 'Men Leather Sneakers', 'Men Running Shoes', 'Men Leather Sneakers', 'Leather Block Sandals', 'Men Leather Loafers', 'Men Leather Sneakers', 'Men Leather Slip-Ons', 'Women Hovr Sonic SE Run Shoes', 'Men Running Shoes', 'Men Running Shoes', 'Men Solid Leather Formal Loafers']
50
--------------------------------------------
-----------Price-----------------
['Rs. 10495', 'Rs. 9999', 'Rs. 8999', 'Rs. 8046Rs. 11495', '(30% OFF)', 'Rs. 7999', 'Rs. 7499', 'Rs. 10495', 'Rs. 12999', 'Rs. 12999', 'Rs. 9999', 'Rs. 10999', 'Rs. 8999', 'Rs. 10499Rs. 14999', '(30% OFF)', 'Rs. 7499', 'Rs. 8249Rs. 10999', '(25% OFF)', 'Rs. 7199Rs. 11999', '( 40 % OFF)', 'Rs. 7999', 'Rs. 8999', 'Rs. 9899Rs. 17999', '(45% OFF)', 'Rs. 9999', 'Rs. 11999', 'Rs. 8393Rs. 11990', '(30% OFF)', 'Rs. 8490', 'Rs. 12999', 'Rs. 7999Rs. 9999', '(20% OFF)', 'Rs. 7343Rs. 10490', '(30% OFF)', 'Rs. 13999', 'Rs. 9999', 'Rs. 7693Rs. 10990', '(30% OFF)', 'Rs. 9891Rs. 10990', '(10% OFF)', 'Rs. 7693Rs. 10990', '(30% OFF)', 'Rs. 8991Rs. 9990', '(10% OFF)', 'Rs. 13999', 'Rs. 7492Rs. 9990', '(25% OFF)', 'Rs. 12591Rs. 13990', '(10% OFF)', 'Rs. 7999', 'Rs. 8999Rs. 9999', '(10% OFF)', 'Rs. 13999', 'Rs. 9891Rs. 10990', '(10% OFF)', 'Rs. 11691Rs. 12990', '(10% OFF)', 'Rs. 9239Rs. 10499', '(12% OFF)', 'Rs. 12591Rs. 13990', '(10% OFF)', 'Rs. 9810Rs. 10900', '(10% OFF)', 'Rs. 9093Rs. 12990', '(30% OFF)', 'Rs. 11691Rs. 12990', '(10% OFF)', 'Rs. 9999', 'Rs. 8999Rs. 9999', '(10% OFF)', 'Rs. 7699', 'Rs. 7372Rs. 10099', '(27% OFF)', 'Rs. 7999']
74
---------------------------------
Rs. 10495
Rs. 9999
Rs. 8999
Rs. 8046Rs. 11495
(30% OFF)
Rs. 7999
Rs. 7499
Rs. 10495
Rs. 12999
Rs. 12999
Rs. 9999
Rs. 10999
Rs. 8999
Rs. 10499Rs. 14999
(30% OFF)
Rs. 7499
Rs. 8249Rs. 10999
(25% OFF)
Rs. 7199Rs. 11999
( 40 % OFF)
Rs. 7999
Rs. 8999
Rs. 9899Rs. 17999
(45% OFF)
Rs. 9999
Rs. 11999
Rs. 8393Rs. 11990
(30% OFF)
Rs. 8490
Rs. 12999
Rs. 7999Rs. 9999
(20% OFF)
Rs. 7343Rs. 10490
(30% OFF)
Rs. 13999
Rs. 9999
Rs. 7693Rs. 10990
(30% OFF)
Rs. 9891Rs. 10990
(10% OFF)
Rs. 7693Rs. 10990
(30% OFF)
Rs. 8991Rs. 9990
(10% OFF)
Rs. 13999
Rs. 7492Rs. 9990
(25% OFF)
Rs. 12591Rs. 13990
(10% OFF)
Rs. 7999
Rs. 8999Rs. 9999
(10% OFF)
Rs. 13999
Rs. 9891Rs. 10990
(10% OFF)
Rs. 11691Rs. 12990
(10% OFF)
Rs. 9239Rs. 10499
(12% OFF)
Rs. 12591Rs. 13990
(10% OFF)
Rs. 9810Rs. 10900
(10% OFF)
Rs. 9093Rs. 12990
(30% OFF)
Rs. 11691Rs. 12990
(10% OFF)
Rs. 9999
Rs. 8999Rs. 9999
(10% OFF)
Rs. 7699
Rs. 7372Rs. 10099
(27% OFF)
Rs. 7999

In [163]:
driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A7195.0_14130.0_7195.0%20TO%2014130.0')

In [165]:
## Creating empty lists for Brand,Short Description,and Price.:-
brand2 = []
Short_desc2=[]
price2=[]

## Scrapping Brand on page 2:- 
br2 = driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in br2:
    brand2.append(i.text)
print("-------------Brand---------------------------")    
print(brand2) 
print(len(brand2))
print("--------------------------------------------------")

## Scrapping Short Description on page 2:- 

sd2 = driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in sd2:
    Short_desc2.append(i.text)
    
print("------------------Short Description------------------")
print(Short_desc2)
print(len(Short_desc2))
print("--------------------------------------------")

## Scrapping Price Data on page2 :-

pp2= driver.find_elements_by_xpath("//div[@class='product-price']/span")
for i in pp2:
    price2.append(i.text)
print("-----------Price-----------------")  
print(price2)
print(len(price2))
print("---------------------------------")

-------------Brand---------------------------
['Clarks', 'ASICS', 'J.FONTINI', 'ASICS', 'Bugatti', 'Clarks', 'DAVINCHI', 'Geox', 'Saint G', 'Heel & Buckle London', 'Clarks', 'Bugatti', 'Saint G', 'Saint G', 'Saint G', 'Louis Philippe', 'Kenkoh', 'Quechua By Decathlon', 'DAVINCHI', 'Geox', 'Geox', 'Geox', 'FILA', 'fitflop', 'Geox', 'Saint G', 'ECCO', 'Columbia', 'J.FONTINI', 'Geox', 'FILA', 'ECCO', 'Columbia', 'ECCO', 'ECCO', 'Cole Haan', 'Geox', 'J.FONTINI', 'Clarks', 'J.FONTINI', 'Heel & Buckle London', 'Geox', 'Geox', 'Geox', 'Geox', 'Geox', 'J.FONTINI', 'J.FONTINI', 'Saint G', 'PERFLY By Decathlon']
50
--------------------------------------------------
------------------Short Description------------------
['Men Solid Leather Formal Loafers', 'Women Running Shoes', 'Men Textured Leather Loafers', 'Women Running Shoes', 'Men Solid Leather Formal Derbys', 'Men Leather Derbys', 'Men Textured Formal Leather Loafers', 'Women Ballerinas Flats', 'Leather Rhinestone Decor Boots', 'Men Textured Leather Formal Loafers', 'Men Leather Slip-On Sneakers', 'Men Leather Monks', 'Stiletto Heel Mules', 'Suede Leather Block Heel Boots', 'Men Leather Chelsea Boots', 'Men Solid Leather Formal Loafers', 'Leather Flatform Sandals', 'Men Trekking Shoes', 'Men Formal Leather Slip-Ons', 'Leather Block Pumps', 'Women Ballerinas Flats', 'Textured Leather Block Pumps', 'Women Colourblocked Leather Sneakers', 'Embellished Leather Flatform Sandals', 'Flatform Heels', 'Suede Embellished Ankle Boots', 'Women Textured Leather Sneakers', 'PEAKFREAK OUTDRY Trekking Shoe', 'Men Leather Formal Loafers', 'Women Leather Slip-On Sneakers', 'Women Leather Sneakers', 'Leather Block Pumps', 'Women Trekking Shoes', 'Women Bella Leather Sneakers', 'Women Ballerinas Flats', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Solid Slip-On Sneakers', 'Men Textured Leather Loafers', 'Men Solid Formal Leather Derbys', 'Men Solid Loafers', 'Men Formal Leather Derby', 'Women Solid Leather Pumps', 'Men Leather Formal Slip-Ons', 'Women Leather Solid Pumps', 'Men Printed Slip-On Sneakers', 'Men Leather Sneakers', 'Men Black Leather Loafers', 'Men Leather Formal Loafers', 'Women Leather Heeled Mules', 'Men Textile Badminton Shoes']
50
--------------------------------------------
-----------Price-----------------
['Rs. 7999', 'Rs. 7599Rs. 7999', '(5% OFF)', 'Rs. 8490', 'Rs. 7999', 'Rs. 7999Rs. 9999', '(20% OFF)', 'Rs. 7499', 'Rs. 8990', 'Rs. 8055Rs. 8950', '(10% OFF)', 'Rs. 13205Rs. 13900', '(5% OFF)', 'Rs. 13990', 'Rs. 8999', 'Rs. 8999', 'Rs. 8075Rs. 8500', '(5% OFF)', 'Rs. 10355Rs. 10900', '(5% OFF)', 'Rs. 10710Rs. 11900', '(10% OFF)', 'Rs. 9999', 'Rs. 10400', 'Rs. 9999', 'Rs. 8990', 'Rs. 8992Rs. 11990', '(25% OFF)', 'Rs. 9891Rs. 10990', '(10% OFF)', 'Rs. 8992Rs. 11990', '(25% OFF)', 'Rs. 9999', 'Rs. 8299', 'Rs. 10791Rs. 11990', '(10% OFF)', 'Rs. 8455Rs. 8900', '(5% OFF)', 'Rs. 13999', 'Rs. 9999', 'Rs. 7490', 'Rs. 8242Rs. 10990', '(25% OFF)', 'Rs. 7999', 'Rs. 9999', 'Rs. 8999', 'Rs. 8999', 'Rs. 8999', 'Rs. 11999', 'Rs. 12591Rs. 13990', '(10% OFF)', 'Rs. 7990', 'Rs. 9999', 'Rs. 8990', 'Rs. 7990', 'Rs. 8242Rs. 10990', '(25% OFF)', 'Rs. 8991Rs. 9990', '(10% OFF)', 'Rs. 11990', 'Rs. 9793Rs. 13990', '(30% OFF)', 'Rs. 7699Rs. 10999', '(30% OFF)', 'Rs. 8490', 'Rs. 7490', 'Rs. 8900', 'Rs. 9211Rs. 9799', '(6% OFF)']
69
---------------------------------

In [166]:
### Making DataFrame for Shoes data  using colour and price filter from Myntra:-

Brand_100 =[]
short_desc_100=[]
price_100 =[]

## Adding to get 100 shoes's Brand from Myntra:-

Brand_100 = brand1 + brand2
print(len(Brand_100))

## Adding to get 100 shoes's Short description from Myntra:- 

short_desc_100 = Short_desc1 + Short_desc2
print(len(short_desc_100))

## Adding to get 100 shoes's price from Myntra:- 

## Since on page1 price returns 68 list length and on page2 price returns 61 list lengthdata,so making it 50 used slicing 

price_100 = price1[:50] + price2[:50]
print(len(price_100))
shoes_df = pd.DataFrame({ 'Brand': Brand_100,
                         'Short Description': short_desc_100,
                         'price_100' : price_100
    
                        })

shoes_df

100
100
100

                  Brand               Short Description           price_100
0                  Nike  Women Pegasus 39 Running Shoes           Rs. 10495
1                  Puma               Men Running Shoes            Rs. 9999
2          UNDER ARMOUR  Men UA Charged Breeze Training            Rs. 8999
3                  Nike      Women React Escape Running   Rs. 8046Rs. 11495
4          UNDER ARMOUR    Men UA Charged Vantage 2 Run           (30% OFF)
..                  ...                             ...                 ...
95                 Geox            Men Leather Sneakers            Rs. 8999
96            J.FONTINI       Men Black Leather Loafers            Rs. 8999
97            J.FONTINI      Men Leather Formal Loafers            Rs. 8999
98              Saint G      Women Leather Heeled Mules           Rs. 11999
99  PERFLY By Decathlon     Men Textile Badminton Shoes  Rs. 12591Rs. 13990

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [167]:
driver = webdriver.Chrome('chromedriver.exe')

In [168]:
driver.get("https://www.amazon.in/")

In [169]:
## Xpath for Search:-
search_prd = driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_prd.send_keys('Laptop')

In [170]:
## xpath for clicking search:-
search_click = driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search_click.click()

In [172]:
driver.get('https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031&dc&crid=2L7IY8FBACAF&qid=1655471009&rnid=12598141031&sprefix=laptop%2Caps%2C1865&ref=sr_nr_p_n_feature_thirteen_browse-bin_13')

In [173]:
## Making empty lists for Title,ratings and Price :-
title =[]
ratings =[]
price =[]

#### Scrapping title data for laptop cpu type i7:-
title_tags = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags:
    title.append(i.text)
print(title[:10]) 
print(len(title[:10]))

### Scrapping ratings data for Laptop cpu type i7:-
rat_link = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none a-spacing-top-micro']//div[@class='a-row a-size-small']/span")
 
#print(rat.get_attribute('aria-label'))
# for i in rat:
#     ratings.append(i.get_attribute('aria-label'))
# print(ratings)
for rating in rat_link:
    ratings.append(rating.get_attribute('aria-label'))
print(ratings[0:20:2])    


pp = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in pp:
    price.append(i.text)
print(price[:10])    

#### Making dataframe:-
laptop_df = pd.DataFrame({'Title':title[:10],
                          'Rating':ratings[0:20:2],
                          'Price':price[:10]
    
                         })
laptop_df

['HP Pavilion 14 12th Gen Intel Core i5 16GB SDRAM/512GB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2014TU', 'LG Gram 16 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4, USC -C x 2 / 1.19 kg, Black/ 3Yr Warranty] 16Z90P', 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W', "Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD Laptop (4GB/256GB SSD/Windows 11/Office 2021/Platinum Grey/1.2Kg), 81VT009UIN", 'Dell New Inspiron 3525 Laptop, AMD Athlon Silver 3050U, Win11 + Office\'21, 8GB GDDR4, 256GB SSD, Radeon Graphics, 15.6" (39.62Cms) HD Anti Glare (D560766WIN9BE, 1.68Kgs)', 'LG Gram 16 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4, USC -C x 2 / 1.19 kg, Black/ 3Yr Warranty] 16Z90P', 'Lenovo IdeaPad D330 Intel Celeron N4020 10.1" HD IPS Detachable 2-in-1 Laptop (4GB/128GB eMMC/Windows 10/1 Yr Warranty/Mineral Grey/1.1Kg), 82H0001YIN', 'Dell New Inspiron 3521 Laptop, Intel PQC-N5030, Win11 + Office\'21, 8GB GDDR4, 256GB SSD, 15.6" (39.62Cms) HD AG (D560756WIN9BE, 1.61Kgs)', 'Acer Aspire 3 AMD 3020e Dual core Processor 14 inches (35.5 cm) HD Display Laptop (4GB DDR4 RAM / 1TB HDD / Windows 11 Home/ Black /Narrow Bezel / 1.9 Kg, A314-22)', 'HP 247 G8 Laptop (Athlon P-3045B HD/ 14" HD (35.56 cms) /8GB RAM DDR4 /1TB HDD / W11 SL)One Year Warranty, Black, 67U77PA)']
10
['4.4 out of 5 stars', '4.3 out of 5 stars', '4.1 out of 5 stars', '4.0 out of 5 stars', '4.0 out of 5 stars', '3.7 out of 5 stars', '4.1 out of 5 stars', '3.8 out of 5 stars', '3.6 out of 5 stars', '4.4 out of 5 stars']
['68,990', '86,990', '26,990', '23,890', '29,990', '86,990', '21,990', '32,490', '24,990', '28,899']

,Title,Rating,Price
0,HP Pavilion 14 12th Gen Intel Core i5 16GB SDR...,4.4 out of 5 stars,"68,990"
1,LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...,4.3 out of 5 stars,"86,990"
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...",4.1 out of 5 stars,"26,990"
3,Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD...,4.0 out of 5 stars,"23,890"
4,"Dell New Inspiron 3525 Laptop, AMD Athlon Silv...",4.0 out of 5 stars,"29,990"
5,LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...,3.7 out of 5 stars,"86,990"
6,"Lenovo IdeaPad D330 Intel Celeron N4020 10.1"" ...",4.1 out of 5 stars,"21,990"
7,"Dell New Inspiron 3521 Laptop, Intel PQC-N5030...",3.8 out of 5 stars,"32,490"
8,Acer Aspire 3 AMD 3020e Dual core Processor 14...,3.6 out of 5 stars,"24,990"
9,"HP 247 G8 Laptop (Athlon P-3045B HD/ 14"" HD (3...",4.4 out of 5 stars,"28,899"

In [174]:
driver.close()

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button

4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.

5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [178]:
driver = webdriver.Chrome('chromedriver.exe')

In [179]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [180]:
job_option = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job_option.click()

In [183]:
data_scientist = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
data_scientist.send_keys('Data Scientist')

In [185]:
search = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search.click()

In [187]:
Search_location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')
Search_location.click()

In [191]:
location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input')
location.send_keys('Noida')

In [193]:
noida = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
noida.click()

In [194]:
company_name = []
company_tag = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in company_tag:
    company_name.append(i.text)
company_name = company_name[:10]
print(len(company_name))
print(company_name)

10
['GENPACT India Private Limited', 'GENPACT India Private Limited', 'Hcl Technologies Limited', 'EXL Services.com ( I ) Pvt. Ltd.', 'Om Software Internet Solutions Private Limited', 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED', 'Ashkom Media India Private Limited', 'Ashkom Media India Private Limited', 'Ashkom Media India Private Limited', 'Zyoin']

In [195]:
Ratings = []
rating = driver.find_elements_by_xpath('//span[@class="body-small"]')
for i in rating:
    Ratings.append(i.text)
print(len(Ratings))
print(Ratings)

10
['4.0', '4.0', '3.9', '3.9', '4.5', '3.3', '3.5', '3.5', '3.5', '3.9']

In [196]:
Posted_days = []
day = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
for i in day:
    Posted_days.append(i.text)
Posted_days = Posted_days[::2]
print(len(Posted_days))
print(Posted_days)

10
['8d ago', '15d ago', '18d ago', '28d ago', '19d ago', '16d ago', '15d ago', '15d ago', '15d ago', '1mon ago']

In [197]:
jobs = pd.DataFrame()
jobs['Company'] = company_name
jobs['Ratings'] = Ratings
jobs['Posted-Days'] = Posted_days
jobs

                                          Company Ratings Posted-Days
0                   GENPACT India Private Limited     4.0      8d ago
1                   GENPACT India Private Limited     4.0     15d ago
2                        Hcl Technologies Limited     3.9     18d ago
3                EXL Services.com ( I ) Pvt. Ltd.     3.9     28d ago
4  Om Software Internet Solutions Private Limited     4.5     19d ago
5        MOTHERSONSUMI INFOTECH & DESIGNS LIMITED     3.3     16d ago
6              Ashkom Media India Private Limited     3.5     15d ago
7              Ashkom Media India Private Limited     3.5     15d ago
8              Ashkom Media India Private Limited     3.5     15d ago
9                                           Zyoin     3.9    1mon ago

In [198]:
driver.close()

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.

3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.

4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [200]:
driver = webdriver.Chrome('chromedriver.exe')

In [201]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [202]:
salary_option = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_option.click()

In [203]:
### writting data scientist
data_scientist = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
data_scientist.send_keys('Data Scientist')

In [204]:
search_ds = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
for i in search_ds:
    if 'Data Scientist' in i.text:
        i.click()
        break

In [205]:
company_name = []
total_salary_record = []
company_tag = driver.find_elements_by_xpath('//div[@class="name"]')
for i in company_tag:
    company_name.append(i.text.split('\n')[0])
    total_salary_record.append(i.text.split('\n')[1].replace('based on',''))
company_name = company_name[:10]
total_salary_record = total_salary_record[:10]
print(len(company_name))
print(company_name)
print(len(total_salary_record))
print(total_salary_record)

10
['Google', 'Microsoft Corporation', 'Goldman Sachs', 'Tekion', 'Amazon', 'Flipkart', 'Servicenow Software Development India', 'PayPal', 'Walmart', 'Arcesium']
10
[' 33 salaries', ' 271 salaries', ' 18 salaries', ' 33 salaries', ' 119 salaries', ' 63 salaries', ' 56 salaries', ' 28 salaries', ' 85 salaries', ' 56 salaries']

In [206]:
Average_salary_record = []
salary_tag = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in salary_tag:
    Average_salary_record.append(i.text.split('\n')[0])
Average_salary_record = Average_salary_record[:10]
print(len(Average_salary_record))
print(Average_salary_record)

10
['₹ 31.8L', '₹ 23.9L', '₹ 23.0L', '₹ 21.1L', '₹ 20.9L', '₹ 20.6L', '₹ 20.4L', '₹ 20.1L', '₹ 19.9L', '₹ 19.3L']

In [207]:
minimum_salary = []
maximum_salary = []
salary_tag_min = driver.find_elements_by_xpath('//div[@class="salary-values"]')
for i in salary_tag_min:
    minimum_salary.append(i.text.split('\n')[0])
    maximum_salary.append(i.text.split('\n')[1])
minimum_salary = minimum_salary[:10]
print(len(minimum_salary))
print(minimum_salary)
print(len(maximum_salary))
print(maximum_salary)

10
['₹ 11.0L', '₹ 13.0L', '₹ 12.0L', '₹ 12.0L', '₹ 8.0L', '₹ 7.5L', '₹ 13.0L', '₹ 12.0L', '₹ 11.4L', '₹ 12.0L']
10
['₹ 65.0L', '₹ 45.0L', '₹ 34.0L', '₹ 33.0L', '₹ 45.0L', '₹ 31.0L', '₹ 28.0L', '₹ 31.0L', '₹ 32.5L', '₹ 34.0L']

In [208]:
Experience_required = []
exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in exp:
    Experience_required.append(i.text.split('\n')[-1].replace('exp',''))
Experience_required = Experience_required[:10]
print(len(Experience_required))
print(Experience_required)

10
['1-3 yrs ', '1-4 yrs ', '2 yrs ', '2-4 yrs ', '1-4 yrs ', '1-4 yrs ', '2-4 yrs ', '1-2 yrs ', '1-4 yrs ', '1-2 yrs ']

In [210]:
salary_data = pd.DataFrame()
salary_data['Company'] = company_name
salary_data['Total_salary_record'] = total_salary_record
salary_data['Minimum_salary'] = minimum_salary
salary_data['Average_salary_record'] = Average_salary_record
salary_data['Maximum_salary'] = maximum_salary
salary_data['Experience_required'] = Experience_required
salary_data

,Company,Total_salary_record,Minimum_salary,Average_salary_record,Maximum_salary,Experience_required
0,Google,33 salaries,₹ 11.0L,₹ 31.8L,₹ 65.0L,1-3 yrs
1,Microsoft Corporation,271 salaries,₹ 13.0L,₹ 23.9L,₹ 45.0L,1-4 yrs
2,Goldman Sachs,18 salaries,₹ 12.0L,₹ 23.0L,₹ 34.0L,2 yrs
3,Tekion,33 salaries,₹ 12.0L,₹ 21.1L,₹ 33.0L,2-4 yrs
4,Amazon,119 salaries,₹ 8.0L,₹ 20.9L,₹ 45.0L,1-4 yrs
5,Flipkart,63 salaries,₹ 7.5L,₹ 20.6L,₹ 31.0L,1-4 yrs
6,Servicenow Software Development India,56 salaries,₹ 13.0L,₹ 20.4L,₹ 28.0L,2-4 yrs
7,PayPal,28 salaries,₹ 12.0L,₹ 20.1L,₹ 31.0L,1-2 yrs
8,Walmart,85 salaries,₹ 11.4L,₹ 19.9L,₹ 32.5L,1-4 yrs
9,Arcesium,56 salaries,₹ 12.0L,₹ 19.3L,₹ 34.0L,1-2 yrs

In [211]:
driver.close()